<hr>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Id</th>
      <th>Nome</th>
      <th>Tipo</th>
      <th>preço</th>
      <th>fornecedor</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of produtos">
      <th scope="row">{{ item.id }}</th>
      <td>{{ item.nome }}</td>
      <td>{{ item.tipo }}</td>
      <td>{{ item.preco }}</td>
      <td>{{ item.fornecedor }}</td>
      <td><button class="btn btn-danger">Excluir</button></td>
    </tr>
  </tbody>
</table>

    <button appModal class="btn btn-primary">Abre Modal</button>

<div  class="modal fade"></div>


<div appTeste>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New message</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <form>
          <div class="form-group">
            <label for="nome">Nome</label>
            <input type="text" class="form-control" [(ngModel)]="produto.nome" id="nome" name="nome" placeholder="Seu nome">
          </div>
          <div class="form-group">
            <label for="tipo">Tipo</label>
            <input type="text" class="form-control" [(ngModel)]="produto.tipo" id="tipo" name="tipo" placeholder="Tipo">
          </div>
          <div class="form-group">
            <label for="fornecedor">Fornecedor</label>
            <input type="text" class="form-control" [(ngModel)]="produto.fornecedor" id="fornecedor" name="fornecedor" placeholder="Fornecedor">
          </div>
          <div class="form-group">
            <label for="preco">Preço</label>
            <input type="text" class="form-control" [(ngModel)]="produto.preco" id="preco" name="preco" placeholder="Preço do produtor">
          </div>
          <div class="form-group">
            <label for="desc">Descrição</label>
            <textarea class="form-control" [(ngModel)]="produto.desc" id="desc" name="desc" rows="3"></textarea>
          </div>
        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" (click)="onSubmit()" class="btn btn-primary">Send message</button>
      </div>
    </div>
  </div>
</div>